html, body {
	&.overflow {
		overflow: hidden;
	}
}

body {
	font-family: $main;
	font-size: 100%;
	color: $text;
	background-color: #fff;
}
#container {
	position: relative;
}

.not-mobile {
	display: none;
}

.hidden {
	display: none;
}

.img-holder, figure {
	overflow: hidden;
	display: inline-block;
	
	img {
		display: block;
		max-width: 100%;
		height: auto;
	}      

	&[data-action="lightbox"]{
		cursor: pointer;
	}

	&[data-rel="video"] {
		position: relative;
		&:after {
			content: '\f04b';
			font-family: 'fa-subset';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
		}
	}
}

.isvideo {
	cursor: pointer;
	position: relative;

	&:after {
		content: '\f04b';
		font-family: 'fa-subset';
		position: absolute;
		bottom: 20px;
		right: 20px;
		border:solid 4px $white;
		border-radius:50%;
		width:45px;
		height:45px;
		color:$white;
		display:flex;
		font-size:rem(20);
		align-items:center;
		justify-content:center;
		letter-spacing:-3px;
	}
}

.object-fit-cover {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;

	img {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
}

.object-fit-contain {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;

	img {
		height: 100%;
		width: 100%;
		object-fit: contain;
	}
}

.object-fit-scale-down {
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: auto;

	img {
		height: 100%;
		width:100%;
		object-fit: scale-down;
	}
}

iframe {
	max-width: 100%;
}

.vid-box {
	width: 100%;

	.vid-holder {
		position: relative;
		padding-bottom: 56%;
		width: 100%;

		iframe {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}

.text-holder {
	p, li {
		+ p, + li {
			margin-top: 1em;
		}
	}

	.btn {
		margin-top: 2em;
	}
}

.wrap, #primary{
	width: 90%;
	margin: 0 auto;
	max-width: 1405px; //change as needed

	&.fw-mobile {
		width:100%;
	}

	&.thin {
		max-width: 1120px;
	}

	&.thinner {
		max-width: 925px;
	}

	&.extra-thin {
		max-width: 720px;
	}
}


@include tablet{
	.not-mobile {
		display: block;
	}

	.mobile-only {
		display: none;
	}

	#mobile-menu-toggle {
		display: none;	
	}

	.site-header {
		nav {
			display: flex;
			position: static;
			width: auto;

			ul {
				>li.menu-item {
					position: relative;
					.sub-menu {
						position: absolute;
						top: 100%;
						left: 0;
						display: none;
						background: #fff;
						padding: 1em;
					}
					
					&:hover, &:focus, &:active {
						.sub-menu {
							display: block;
						}
					}
				}
			}
		}
	}
}


@include desktop{
	.wrap {
		&.fw-mobile {
			width:90%;
		}
	}
	
	.text-holder {
		p {
			font-size:rem(18);
			line-height:rem(24);
		}
	}
}